body {
    display: flex;
    flex-direction: column;
}

.Header {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Content1 {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Content2 {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Card_container {
    border: 1px solid green;
    display: flex;
}
.Card {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Content3 {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content4 {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

a {
    text-decoration: none;
}
.Footer {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}